body {
    background-color: rgb(63, 53, 53);
    
}

img {
    height: 900px;
    width: 700px;
}

.name {
    text-align: center;
    justify-content: center;
    margin-top: 250px;
}

.heading-1 {
    text-decoration: underline;
}
